<!DOCTYPE html>
<html>
    <head>
        <title>Demo app</title>
        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        
        <h1>Hello world!, this is from home.ejs</h1>
    </body>
</html>

