<% include partials/header %>

<div class="jumbotron" id="fjumbo" style="text-align: center; ">
    <h1 ><em>eSurance</em></h1>
    <p>Be Safe!</p>
</div>

<div class="container" id="contu" >
    <div class="jumbotron" id="contu">
        <div style="text-align: center; margin-top: 75px; margin-bottom: 75px;">
            <i class="fa fa-car fa-5x" aria-hidden="true"></i>
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 2.0em; vertical-align: 50%;">or</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
            <i class="fa fa-motorcycle fa-5x" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        
    </div>
</div>
<% include partials/footer %>